<h1>{{name}}</h1>
<hr>


<div class="container">
  <div class="bg-red square"></div>

  <div class="bg-red rectangle"></div>

  <div class="bg-red circle"></div>

  <div class="bg-red oval"></div>

  <div class="triangle-up"></div>

  <div id="curvedarrow"></div>

  <div class="trapezoid">
    Ciccio pasticciotto peppe peppetto lorem ipsum
  </div>

  <div id="hexagon">
    Prova inserimento contenuto 
  </div>

  <div id="octagon">
    
  </div>

  <div class="oct-bef">oct-bef</div>

  <div class="oct-aft">oct-aft</div>


  
</div>


<div class="column-centered-container">
  <div class="my-oct">
    Ciaone proprio
  </div>
</div>
